.idea/
node_modules/
build/
temp/
dist
tmp/*
public/images/*
public/videos/*
public/download/*
ormconfig.json
coverage
.env
coverage/

!tmp/.gitkeep
!**/.gitkeep
!public/images/.gitkeep
yarn-error.log
